.zebra-pattern:nth-child(odd) {
    background-color: #1B9CFC;
    padding: 25px;
    margin: 25px 0;
    border-radius: 25px;
}

.zebra-pattern:nth-child(even) {
    background-color: #a55eea;
    padding: 25px;
    margin: 25px 0;
    border-radius: 25px;
}